/* ---------------обнуление-------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
    height: 100%;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper {
    width: 100%;
    background-color: #f6f6f6;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    
}
._container{
    max-width: 1180px;
    margin: 0px auto;
}
.header {
    
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: white;
}

header:before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: black;
    opacity: 0.5;
    z-index: 3; */
}
.header__body {
    position: relative;
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
}

.header::after{
    bottom:0;
}
.header::befor{
    top: 0;
}


.header__menu {
    
}
.header__list {
    padding: 0;
    display: flex;
    position: relative;
    z-index: 3;
}
.header__list li {
    list-style: none;
   
}

.header__list li {
    list-style: none;

}
.header__list li:first-child {
    margin:0px;
}

.header__link {
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}

.container {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}

.header__list a {
	position: relative;
}

.header__list a:hover::after {
	content: '';

	position: absolute;
	left: 0;
	
	bottom: -6px;

	display: block;
	width: 84px;
	height: 4px;
	background-color: #c4c4c4;
	border-radius: 50px;
}
[class*="__container"]{
    max-width:1180px;
    margin:0 auto;

 }

h1{
    margin-top: 120px;
    text-align: center;
    margin-bottom: 50px;
	font-size:40px;
	font-weight: 600;

}
.main__photo img {
    width: 100%;
    margin-bottom: 50px;

}
/* ---------------------------Footer--------------------- */


.footer {
    width: 100%;
    padding-top: 45px;
    padding-bottom: 130px;
    background: #2387f9;
    color: white;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-col {
    max-width: 350px;
    flex-grow: 1;
}

.footer-copyright {
    color: white;
    line-height: 1.3;    
}

.footer-copyright-name {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 15px;
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
}

.footer-icons p {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
}

.footer-icons-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icons-row > * + * {
    margin-left: 30px;
}


.footer-contacts  {
    text-align: center;
    margin: 15px 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    color: white;
}
